@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Kalam:wght@300;400;700&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-size: 1rem;
  font-family: cursive;
}
@media (min-width: 970px) {
  label {
    font-size: 1.2rem;
  }
}

input {
  border-radius: 14px;
  padding-left: 8px;
  font-family: "Kalam", cursive;
  font-size: 1rem;
}

input {
  border-radius: 14px;
  padding-left: 8px;
  font-family: "Kalam", cursive;
  font-size: 1rem;
}

button {
  font-family: "Russo One", sans-serif;
  color: #ac3249;
  background-color: #ede9e2;
}

header {
  background-color: #e5dbc7;
  height: 22vh;
  display: flex;
  align-items: center;
}
@media (min-width: 970px) {
  header {
    height: 17vh;
  }
}
header .logo_intro {
  width: 100%;
}
header .logo_intro .logo_intro__img {
  display: flex;
  justify-content: center;
}
header .logo_intro .logo_intro__img .intro_img {
  max-width: 250px;
}
@media (min-width: 970px) {
  header .logo_intro .logo_intro__img .intro_img {
    max-width: 280px;
  }
}
header .contenedor_nav {
  width: 100%;
}
header .contenedor_nav .logo_nav, header .contenedor_nav .logo_nav .logos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .contenedor_nav .logo_nav .logos .img_logo {
  max-width: 250px;
}
@media (min-width: 970px) {
  header .contenedor_nav .logo_nav .logos .img_logo {
    max-width: 280px;
  }
}
header .contenedor_nav .logo_nav .hamburguesa {
  max-width: 45px;
}
@media (min-width: 970px) {
  header .contenedor_nav .logo_nav .hamburguesa {
    display: none;
  }
}
@media (min-width: 970px) {
  header .contenedor_nav .buscador {
    width: 34%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

main {
  background-color: #ede9e2;
  height: 63vh;
  padding-block: 12px;
  padding-inline: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  justify-content: flex-start;
}
@media (min-width: 970px) {
  main {
    height: 73vh;
    padding-block: 22px;
    gap: 20px;
  }
}
main .crear_caballero {
  padding-inline: 12px;
  padding-block: 3px;
  border: 2px solid #ac3249;
  border-radius: 6px;
  padding: 10px;
}
@media (min-width: 970px) {
  main .crear_caballero {
    font-size: 1rem;
  }
}
@media (min-width: 970px) {
  main .crear_caballero {
    border: 3px solid;
  }
}

.intro {
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
@media (min-width: 970px) {
  .intro {
    max-width: 705px;
  }
}
.intro video {
  max-width: 97%;
}
.intro .btn_intro {
  padding: 9px;
  border: none;
}
@media (min-width: 970px) {
  .intro .btn_intro {
    font-size: 1rem;
  }
}

.modal_filtro {
  border: 2px solid #ac3249;
  border-radius: 10px;
  padding: 26px;
  font-size: 1rem;
}
@media (min-width: 970px) {
  .modal_filtro {
    border: 3px solid #ac3249;
    font-size: 1.2rem;
  }
}
.modal_filtro .contenedor_btn__filtro {
  text-align: end;
  padding-bottom: 12px;
}
.modal_filtro .contenedor_btn__filtro #filtro_btn__cerrar {
  border: none;
  font-size: 1rem;
}
@media (min-width: 970px) {
  .modal_filtro .contenedor_btn__filtro #filtro_btn__cerrar {
    font-size: 1.2rem;
  }
}
.modal_filtro .filtro_modal__texto {
  font-family: "Kalam", cursive;
  padding-bottom: 12px;
}

.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spinner .spinner_img {
  max-width: 300px;
  border-radius: 100px;
}
.spinner .spinner_texto {
  padding-top: 17px;
  text-align: center;
  font-family: "Russo One", sans-serif;
  color: #ac3249;
  font-size: 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 970px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.cards .card {
  max-width: 600px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}
@media (min-width: 970px) {
  .cards .card {
    width: 458px;
  }
}
.cards .card img {
  width: 170px;
  aspect-ratio: 2/3;
  object-fit: cover;
}
.cards .card .card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3px;
}
.cards .card .card_info .nombre {
  text-decoration: underline;
}
.cards .card .card_info .caballero {
  padding-top: 3px;
}
.cards .card .card_info .armadura {
  padding-top: 1px;
  font-weight: 600;
}
.cards .card .card_info .descripcion {
  padding-top: 4px;
}
.cards .card .card_info .card_btn {
  padding-top: 8px;
}
.cards .card .card_info .card_btn .btn_detalle {
  border: 2px solid #ac3249;
  padding: 4px;
  border-radius: 6px;
  font-size: 0.7rem;
}

.contenedor_form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contenedor_form form, .contenedor_form form .formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (min-width: 970px) {
  .contenedor_form form, .contenedor_form form .formulario {
    max-width: 1160px;
    gap: 12px;
  }
}
.contenedor_form form .contenedor_regresar {
  text-align: end;
  padding-right: 16px;
}
.contenedor_form form .contenedor_regresar .btn_regresar {
  border: none;
  font-size: 1rem;
}
@media (min-width: 970px) {
  .contenedor_form form .contenedor_regresar .btn_regresar {
    display: none;
  }
}
@media (min-width: 970px) {
  .contenedor_form form .contenedor_regresar .regresar_texto {
    display: inline-block;
    border: none;
    font-size: 1rem;
  }
}
.contenedor_form form .formulario {
  gap: 6px;
}
.contenedor_form form .formulario textarea {
  border-radius: 14px;
  padding-left: 8px;
  font-family: "Kalam", cursive;
  font-size: 1rem;
}
.contenedor_form form .formulario_btn {
  text-align: center;
  padding-top: 6px;
}
.contenedor_form form .formulario_btn .form_btn_submit {
  padding-inline: 12px;
  padding-block: 3px;
  border: 2px solid #ac3249;
  border-radius: 6px;
}
@media (min-width: 970px) {
  .contenedor_form form .formulario_btn .form_btn_submit {
    font-size: 1rem;
  }
}

.detalle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
@media (min-width: 970px) {
  .detalle {
    height: 100%;
  }
}
.detalle .card_detalle {
  padding: 10px;
  border: 2px solid #ac3249;
  border-radius: 10px;
}
@media (min-width: 970px) {
  .detalle .card_detalle {
    max-width: 1160px;
    padding: 52px;
    display: flex;
    justify-content: space-around;
    gap: 35px;
  }
}
.detalle .card_detalle .detalle_regresar {
  width: 100%;
  text-align: end;
  border: none;
  font-size: 1rem;
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_regresar {
    display: none;
  }
}
.detalle .card_detalle .detalle_img {
  position: relative;
  width: 200px;
  transition: all 0.3s ease;
  margin: auto;
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_img {
    width: 400px;
    margin: 0;
  }
}
.detalle .card_detalle .detalle_img:hover {
  transform: perspective(200px) rotateX(10deg) translateY(-5%) translateZ(0);
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_img:hover {
    transform: perspective(400px) rotateX(10deg) translateY(-5%) translateZ(0);
  }
}
.detalle .card_detalle .detalle_img::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgb(0, 0, 0) 95%);
  opacity: 0;
  transition: all 0.3s ease;
}
.detalle .card_detalle .detalle_img:hover::before {
  opacity: 1;
}
.detalle .card_detalle .detalle_img:hover .img_armadura {
  opacity: 1;
  transform: translateY(10%);
}
.detalle .card_detalle .detalle_img .box {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}
.detalle .card_detalle .detalle_img .img_armadura {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: 0.3s ease;
  opacity: 0;
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_img .img_armadura {
    width: 350px;
  }
}
.detalle .card_detalle .detalle_contenedor {
  padding-top: 5px;
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_contenedor {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_contenedor .detalle_btn__regresar {
    display: block;
    text-align: end;
  }
}
.detalle .card_detalle .detalle_contenedor .detalle_btn__regresar .regresar {
  border: none;
  font-size: 1rem;
}
.detalle .card_detalle .detalle_contenedor .detalle_nombre {
  text-align: center;
  text-decoration: underline;
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_contenedor .detalle_nombre {
    font-size: 1.8rem;
  }
}
.detalle .card_detalle .detalle_contenedor .detalle_texto {
  padding-top: 14px;
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_contenedor .detalle_texto {
    padding-top: 20px;
    font-size: 1.2rem;
  }
}
.detalle .card_detalle .detalle_contenedor .detalle_btns {
  text-align: center;
  padding-top: 16px;
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_contenedor .detalle_btns {
    padding-bottom: 6px;
  }
}
.detalle .card_detalle .detalle_contenedor .detalle_btns .detalle_btn__editar, .detalle .card_detalle .detalle_contenedor .detalle_btns .detalle_btn__eliminar {
  padding-inline: 12px;
  padding-block: 3px;
  border: 2px solid #ac3249;
  border-radius: 6px;
}
@media (min-width: 970px) {
  .detalle .card_detalle .detalle_contenedor .detalle_btns .detalle_btn__editar, .detalle .card_detalle .detalle_contenedor .detalle_btns .detalle_btn__eliminar {
    font-size: 1rem;
  }
}
.contenedor_modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor_modal .ventana_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ac3249;
  border-radius: 10px;
  padding-block: 15px;
}
@media (min-width: 970px) {
  .contenedor_modal .ventana_modal {
    border: 3px solid #ac3249;
  }
}
.contenedor_modal .ventana_modal .modal_contenedor__btn {
  width: 100%;
  text-align: end;
  padding-inline-end: 3%;
}
.contenedor_modal .ventana_modal .modal_contenedor__btn #modal_btn__cerrar {
  border: none;
  font-size: 1rem;
}
.contenedor_modal .ventana_modal .modal_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor_modal .ventana_modal .modal_flex .modal_img {
  width: 28%;
}
.contenedor_modal .ventana_modal .modal_flex .modal_texto {
  font-family: "Kalam", cursive;
  font-size: 1rem;
}
@media (min-width: 970px) {
  .contenedor_modal .ventana_modal .modal_flex .modal_texto {
    font-size: 1.2rem;
  }
}
.contenedor_modal .ventana_modal #modal_aceptar__eliminar {
  padding-inline: 12px;
  padding-block: 3px;
  border: 2px solid #ac3249;
  border-radius: 6px;
}
@media (min-width: 970px) {
  .contenedor_modal .ventana_modal #modal_aceptar__eliminar {
    font-size: 1rem;
  }
}

footer {
  background-color: #e5dbc7;
  height: 15vh;
  text-align: center;
  padding-top: 20px;
}
@media (min-width: 970px) {
  footer {
    height: 10vh;
    padding-top: 5px;
  }
}
footer img {
  width: 8%;
  max-width: 40px;
}
footer p {
  padding-top: 7px;
  font-family: "Kalam", cursive;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
