main {
	background-color: $light-primary;
	height: 63vh;
	display: flex;
	// flex-direction: column;
	align-items: center;
	justify-content: center;
	// gap: 64px;
	overflow-y: auto;

	@include breakpoint {
		height: 73vh;
		// gap: 4px;
	}
}
