main {
	background-color: $light-primary;
	height: 63vh;
	padding-block: 12px;
	padding-inline: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	overflow-y: auto;
	justify-content: flex-start;
	// background-image: url("../../assets/fondo.jpg");
	// background-repeat: no-repeat;

	@include breakpoint {
		height: 73vh;
		padding-block: 22px;
		gap: 20px;
	}
}
