main {
	background-color: $light-primary;
	height: 63vh;
	padding-block: 12px;
	padding-inline: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	overflow-y: auto;

	@include breakpoint {
		height: 73vh;
		padding-block: 22px;
		gap: 20px;
	}

	.crear_caballero {
		@include btn;
		padding: 10px;
		border: 3px solid;
	}
}
