.contenedor_filtros {
	padding: 10px;
	display: none;

	@include breakpoint {
		width: 400px;
		display: block;
	}

	.contenedor_filtro__nombre {
		position: relative;

		#filtro_nombre {
			width: 100%;
		}

		#filtro_nombre__lupa {
			background-color: transparent;
			position: absolute;
			right: 3%;
			top: 1px;
			border: none;

			#lupa_img {
				width: 20px;
			}
		}
	}

	.filtros_contenedor__select {
		padding-top: 10px;

		@include breakpoint {
			display: flex;
			justify-content: space-between;
		}

		#filtro_armadura {
			width: 32%;
		}

		#filtro_genero {
			@extend #filtro_armadura;
		}

		#filtro_saga {
			@extend #filtro_armadura;
		}
	}
}
