.contenedor_form {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px;

	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 6px;

		@include breakpoint {
			max-width: 1160px;
			gap: 12px;
		}

		.contenedor_regresar {
			text-align: end;
			padding-right: 16px;

			.btn_regresar {
				border: none;
				font-size: 1rem;

				@include breakpoint {
					display: none;
				}
			}

			.regresar_texto {
				@include breakpoint {
					display: inline-block;
					border: none;
					font-size: 1rem;
				}
			}
		}

		.formulario {
			@extend form;
			gap: 6px;

			textarea {
				@include input;
			}
		}

		.formulario_btn {
			text-align: center;
			padding-top: 6px;

			.form_btn_submit {
				@include btn;
			}
		}
	}
}
