header {
	background-color: $light-secundary;
	height: 22vh;
	// display: flex;
	// align-items: center;

	@include breakpoint {
		height: 17vh;
	}

	.logo_intro {
		width: 100%;

		.logo_intro__img {
			display: flex;
			justify-content: center;

			.intro_img {
				max-width: 250px;

				@include breakpoint {
					max-width: 280px;
				}
			}
		}
	}

	.contenedor_nav {
		// width: 100%;

		.logo_nav {
			// width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;

			.logos {
				@extend .logo_nav;
				gap: 90px;

				// @include breakpoint {
				// 	display: flex;
				// 	justify-content: space-around;
				// 	align-items: center;
				// }

				.img_logo {
					// @extend .intro_img;
					max-width: 166px;

					@include breakpoint {
						max-width: 280px;
					}
				}

				.hamburguesa {
					// max-width: 45px;
					border: none;
					background-color: #e5dbc7;

					@include breakpoint {
						display: none;
					}

					img {
						width: 40px;
					}
				}

				.cerrar_hamburguesa {
					@extend .hamburguesa;

					img {
						width: 41px;
					}
				}
			}

			.crear_caballero {
				@include border(2px, $light-alt);
				border-radius: 6px;
				padding: 8px 12px;
				margin-bottom: 10px;
				font-size: 1.1rem;

				@include breakpoint {
					@include border(3px, $light-alt);
				}
			}
		}

		// .buscador {
		// 	@include breakpoint {
		// 		width: 34%;
		// 		display: flex;
		// 		justify-content: space-around;
		// 		align-items: center;
		// 	}
		// }
	}
}
