header {
	background-color: $light-secundary;
	height: 22vh;
	// display: flex;
	// align-items: center;

	@include breakpoint {
		height: 17vh;
	}

	.logo_intro {
		width: 100%;

		.logo_intro__img {
			display: flex;
			justify-content: center;

			.intro_img {
				max-width: 250px;

				@include breakpoint {
					max-width: 280px;
				}
			}
		}
	}

	.contenedor_nav {
		// width: 100%;

		// display: flex; /* Hace que el contenedor nav sea un contenedor flex */
		// justify-content: space-between; /* Distribuye espacio entre elementos */
		// align-items: center; /* Alinea elementos verticalmente en el centro */

		.logo_nav {
			// width: 100%;
			// display: flex;
			// flex-wrap: wrap;
			// justify-content: space-around;
			// align-items: center;

			// display: flex;
			// flex-wrap: nowrap; /* Evita que los elementos salten a la siguiente línea */
			// justify-content: space-between; /* Asegura que haya espacio entre el logo y la hamburguesa */
			// align-items: center;
			// width: 100%;

			//mio
			width: 80%;
			max-width: 1000px;
			margin: auto;

			@include breakpoint {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.logos {
				// @extend .logo_nav;
				// gap: 90px;

				// display: flex;
				// align-items: center;
				// gap: 20px; /* Espaciado entre el logo y el menú hamburguesa */

				//mio
				display: flex;
				justify-content: space-between;
				align-items: center;

				// @include breakpoint {
				// 	display: flex;
				// 	justify-content: space-around;
				// 	align-items: center;
				// }

				.img_logo {
					// @extend .intro_img;
					max-width: 166px;

					@include breakpoint {
						max-width: 250px;
					}
				}

				.hamburguesa {
					// max-width: 45px;
					border: none;
					background-color: #e5dbc7;

					@include breakpoint {
						display: none;
					}

					img {
						width: 40px;
					}
				}

				.cerrar_hamburguesa {
					@extend .hamburguesa;

					img {
						width: 41px;
					}
				}
			}

			.contenedor_crear {
				text-align: center;

				.crear_caballero {
					@include border(2px, $light-alt);
					border-radius: 6px;
					padding: 8px 12px;
					margin-bottom: 10px;
					font-size: 1.1rem;

					@include breakpoint {
						@include border(3px, $light-alt);
					}
				}
			}
		}

		// .buscador {
		// 	@include breakpoint {
		// 		width: 34%;
		// 		display: flex;
		// 		justify-content: space-around;
		// 		align-items: center;
		// 	}
		// }
	}
}
