.modal_filtro {
	@include border(2px, $light-alt);
	border-radius: 10px;
	padding: 26px;
	font-size: 1rem;
	color: $light-primary;
	margin-block: 15px;

	@include breakpoint {
		@include border(3px, $light-alt);
		font-size: 1.2rem;
		margin-block: auto;
	}

	.contenedor_btn__filtro {
		text-align: end;
		padding-bottom: 12px;

		#filtro_btn__cerrar {
			border: none;
			font-size: 1rem;
			background: transparent;

			@include breakpoint {
				font-size: 1.2rem;
			}
		}
	}
	.filtro_modal__texto {
		font-family: $font-secundary;
		padding-bottom: 12px;
	}
}
