.cards {
	display: flex;
	flex-direction: column;
	gap: 8px;

	@include breakpoint {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
	}

	.card {
		max-width: 600px;
		@include border(1px, black);
		padding: 10px;
		border-radius: 10px;
		display: flex;
		gap: 15px;

		img {
			width: 170px;
			aspect-ratio: 2 / 3;
			object-fit: cover;
		}

		.card_info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-bottom: 3px;

			.nombre {
				text-decoration: underline;
			}

			.caballero {
				padding-top: 3px;
			}

			.armadura {
				padding-top: 1px;
				font-weight: 600;
			}

			.descripcion {
				padding-top: 4px;
			}

			.card_btn {
				padding-top: 8px;

				.btn_detalle {
					@include border(2px, $button-color);
					padding: 4px;
					border-radius: 6px;
					font-size: 0.7rem;
				}
			}
		}
	}
}
