@mixin breakpoint {
	@media (min-width: 970px) {
		@content;
	}
}

@mixin border($width, $color) {
	border: $width solid $color;
}

@mixin margenesCard {
	height: 100%;
	padding-inline: 5px;
	padding-top: 10px;
}
