@mixin breakpoint {
	@media (min-width: 970px) {
		@content;
	}
}

@mixin border($width, $color) {
	border: $width solid $color;
}

@mixin input {
	border-radius: 14px;
	padding-left: 8px;
	font-family: $font-secundary;
	font-size: 1rem;
}

@mixin btn {
	padding-inline: 12px;
	padding-block: 3px;
	@include border(2px, $button-color);
	border-radius: 6px;

	@include breakpoint {
		font-size: 1rem;
	}
}
